$header-font: 'goldoni', serif;
$body-font: 'Open Sans', sans-serif;
$cursive-font: 'Courgette', cursive;

// variables to media query mixin
$phone: 1px;
$tablet-port: 450px;
$tablet-land: 970px;
$desk: 1050px;


