/* Create a CSS only dropdown menu */
nav {
    grid-column: span 12;

    hr {
        @include horizontalRule;
    }

    @include respond-to(tablet-land) {

        #mobileMenu {
            display: none;
        }

        /* Set Main Nav Bar to be horizontal and centered in Div */
        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;

            /*Position Relative so submenu will line up correctly */
            li {
                padding-right: 6rem;
                position: relative;

                /*Absolutely position sub-menu in relation to main menu.  Remove left padding so submenu won't be offset
             * when hovered over.*/
                ul {
                    position: absolute;
                    left: 0;
                    top: 3.6rem;
                    background-color: $primary-neutral-light;
                    padding: 0;


                    /* Overflow and height remove sub menu from visibility until hovered.  Transitioning the height
                 * makes the menu visible in a nice animation.  Yay last semester! */

                    li {
                        overflow: hidden;
                        height: 0;
                        transition: height 200ms ease-in;
                        display: flex;
                        justify-content: center;
                        flex-direction: column;
                        text-align: center;
                        padding: 0 4rem 0 2rem;
                        border-right: 1px solid $primary-dark;


                        &:first-child {
                            border-left: 1px solid $primary-dark;
                        }

                        &:hover {
                            background-color: $primary-light;
                            border: 1px solid $primary-dark;
                            @include pictureShadow;
                        }
                    }
                }
            }
        }
    }
}

/* This makes the submenu visible when hovered.  The height set here is what the transition is looking for */

nav ul>li:hover ul li {

    height: 7rem;

    &:hover a {
        color: $white;
        width: 100%;

    }
}

@include respond-to(mobile-port) {

    #mobileMenu {
        display: inline-flex;
        flex-direction: column;
    }

    .fa-bars {
        padding: .5rem;
        color: $black;
        background-color: $white;
    }

    .slicknav_btn {
        background-color: $white;
    }

    .slicknav_menu {
        display: flex;
        justify-content: flex-start;        
        flex-direction: column;
        background-color: $white;
    }

    .menu {
        display: none;
    }

    nav ul>li:hover ul li {
        height: auto;

    }
}